{% extends "store/base.html" %}

{% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{ book.genre }}</dd>
    <dt>Author:</dt>
    <dd>{{ book.author }}</dd>
    <dt>Description:</dt>
    <dd>{{ book.description }}</dd>
    <dt>Average Rating:</dt>
    <dd>{{ book.rating }}</dd>
    <dt>MRP:</dt>
    <dd>Rs. {{ book.mrp }}</dd>
    <dt>Available Copies:</dt>
	<dd>{{ num_available }}</dd>
	<dt>Rating Given By You:</dt>
	<dd><input type="number" name="rating" value="{{user_rating}}" required="" id="id_rating"><button type="submit" id="rating_submit">Submit</button></dd>
</dl>
<button class="btn btn-primary" id="loan-button">Loan {{ book.title }}</button>
<script>


	$("#rating_submit").click(function(){
		var rating_user= $("#id_rating").val();
		if(rating_user<=10&&rating_user>0)
		{
		$.ajax({
			url: "{% url 'book-rating' %}",
			method: "POST",
			data: {
				bid: {{ book.id }},
				rating: rating_user
			},
			success: function(data, status, xhr){
				if(data['message'] == "success"){
					window.location.reload();
				}
				else{
					alert("Rating is unable to update");
				}
			},
			error: function(xhr, status, err){
				alert("You Should Login to give rating");
			}
	
		})
	}
	else
	alert("Rating Must be between 1-10 ")
	})
$("#loan-button").click(function(){
    $.ajax({
		url: "{% url 'loan-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }}
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Book successfully issued");
                window.location.replace("/books/loaned");
			}
			else{
				alert("Unable to issue this book");
			}
		},
		error: function(xhr, status, err){
			alert("You Need To Login First");
		}

	})
})
</script>
{% endblock %}